  <nav class="flex items-center justify-between bg-gray-700 py-4 px-6 text-gray-200">
    <div>
      <button>
        Hamburger
      </button>
    </div>
    <div>
      Search Input
    </div>
    <div>
      Notifications
    </div>
    <div>
      User
    </div>
  </nav>