<aside class="bg-gray-700 w-32 text-gray-200 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6">
      <%= link_to "Dashboard", dashboard_index_path, class:"hover:text-gray-800 visited:text-gray-800"%>
    </li>
    <li class="mt-6">
      <%= link_to "Project", class:"hover:text-gray-800 visited:text-gray-800"%>
    </li>
  </ul>
</aside>